<section class="d-flex justify-content-center bg-success-subtle flex-column" id="headerProduct">
    <h1 class="d-flex justify-content-center bg-success-subtle ">Productos</h1>
    <div class="d-flex container-fluid justify-content-between align-items-center" {{!-- style="padding-left: 20px;"
        --}}>
        <div style="padding-left: 20px;" class="d-flex flex-column align-items-center">
            <a href="/current" style="color: black;">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />

                </svg>
            </a>
            <p>{{firstName}} {{lastName}}</p>

        </div>
        <button type="button" class="btn btn-secondary" id="logoutButton" style="height: 50%;">Cerrar sesion</button>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    Swal.fire({
        icon: "error",
        title: "No contamos con stock en los siguientes productos!!",
        html: `
    
      
            <p>{{ID}}</p>
            <p>{{QUANTITY}}</p>
        <table class="table table-dark table-striped">
            <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
     {{#each outOfStock}}
    <tr>
      <td>{{title}}</td>
      <td>X{{quantity}}</td>
    </tr>
    {{/each}}
  </tbody>

            </table>
        
    `,
        showDenyButton: true,
   {{!--      showCancelButton: true, --}}
        allowOutsideClick: false,
        confirmButtonText: "Finalizar compra con productos en stock",
        denyButtonText: `Volver al carrito`
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/carts/{{id}}";
        } else if (result.isDenied) {
            window.location.href = "/carts/{{id}}";
        }
    })
</script>