<h1 class="d-flex justify-content-center bg-success-subtle">Productos </h1>
<section class="d-flex justify-content-center mb-3 flex-wrap" style="width: 90%; height: 100%; margin: auto;">
    {{#each products}}
   
          <div class="card" style="width: 18rem; margin: 15px;">
            <img src='{{thumbnail}}' class="card-img-top" alt="imagen producto">
            <div class="card-body">
                <h5 class="card-title">Titulo: {{title}}</h5>
                <p>Codigo: {{code}}</p>
                <p class="card-text">Descripción: {{description}}</p>
                <p class="card-text">Stock: {{stock}}</p>
                <p>${{price}}</p>
            </div>
        </div>
  
    {{/each}}
</section>